@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply capitalize hover:bg-cyan-400/60 text-blue-900;
  }
  .div-odd{
    @apply p-4 px-6 text-sm flex text-sm
  }
  .div-even{
    @apply p-4 px-6 bg-gray-100/80 text-sm flex text-sm
  }
  .label-style{
    @apply w-[48%] text-slate-500/90 font-semibold capitalize
  }
}


:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
