@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply capitalize hover:bg-cyan-400/60 text-blue-900;
  }
  .div-odd{
    @apply p-4 px-6 text-sm flex text-sm
  }
  .div-even{
    @apply p-4 px-6 bg-gray-100/80 text-sm flex 
  }
  .label-style{
    @apply w-[48%] text-slate-500/90 font-semibold capitalize
  }
  .disabled-input {
    @apply disabled:text-zinc-500 disabled:bg-zinc-100
  }
}


@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('font-files/InterVariable.woff2') format('woff2');
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
